{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h2>Reset Password</h2>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <form action="" method="post" novalidate class="p-5 my-4" style="box-shadow:  -3px -2px 1px 0 #e73140,-4px -2px 20px 0 rgb(80, 88, 94);">
    {% csrf_token %}
    {% for fm in form %} 
    <div class="form-group" style="font-size: 28px;">
    {{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors|striptags}}</small>
     </div>
     {% endfor %}
     
     <input type="submit" class="btn btn-primary mt-4" value="Submit">
     <br>
     <div class="text-center text-primary fw-bold"><small>New User ? <a href="{% url 'auth:cusreg' %}"
        class="text-danger">Create an Account</a> </small></div>
     {% if form.non_field_errors %}
     {% for error in form.non_field_errors %}
     <p class="alert alert-danger my-3">{{error}}</p>
     {% endfor %}
     {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}